 {% load static %}
<div class="row">
                <div class="col-2">
                     <h1>Do Something<br> Creative<br> Every day</h1>
            <p>Creative activity could be described as a type of learning process
            where<br> teacher and pupil are located in the same individual</p>

                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="{% static 'images/Untitled design.png' %}">
                </div>
            </div>